* {
    border: 0px solid black;
    caret-color: ;
}

body {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid darkgrey;
    margin: 4px;
}

#new-book-form {
    display: flex;
    flex-direction: column;
}

.input-div {
    display: flex;
}

.input-div p {
    margin: 0;
}

#new-book-field-and-button {
    margin-bottom: 16px;
}

#library {
    display: flex;
    flex-direction: column;
}

#radio-buttons {
    caret-color: transparent;
}

button {
    caret-color: transparent;
}

#submit-button {
}

#library {
    border: 5px solid purple;
}

#submit-and-cancel {
    caret-color: transparent;
}

.book-card-read {
    border: 1px solid lime;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.book-card-notread {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.card-buttons {
    display: flex;
    justify-content: space-between;
}